{% extends "base_generic.html" %}

{% block content %}
    <hr>    
    <table class="tftable" border="0">
        <tr>
                <td><h1>{{ object.act_name }}</h1></td>
                <td><h4>   {{ object.act_start_date|date:"d M Y" }}</h4></td>
                <td><h5>  ( {{ object.act_type }} Strava = {{ object.strava_id }} )</h5></td>
        </tr>
        <tr>
                <td><h4>Distance = {{ object.get_act_dist_km|floatformat:2 }} km</h4></td>
                <td><h5>Dénivelé = {{ object.act_den }} m </h5></td>
        </tr>
        
            {%  for info in object.get_info_txt %}                 
                <tr><td style="color:#1600da"> {{info.info_txt}} </td></tr>
            {% endfor %}            
    </table>

    <table class="tftable" border="0">
        {% if object.get_performances %} 
        <tr><td style="color:#1600da"><b>Performances:</b></td></tr>
            {%  for performance in object.get_performances %}                                             
                <tr>
                    <td width = "400px" style="color:#1600da"> {{performance.nomSegment}} </td>
                    <td width = "100px" style="color:#1600da"> {{performance.chrono}} </td>
                    <td width = "100px" style="color:#1600da"> {{performance.vam}} m/h</td>
                    <td width = "100px" style="color:#1600da"> {{performance.place}} temps </td>                    
                </tr>
            {% endfor %}     
        {% endif %}    
    </table>
                                                               
    {% if object.get_col_passed  %}
        <hr>        
        Nombre de Cols passés: {{ object.get_col_passed|length }}
    {% endif %}
                  
    {%  for col in object.get_col_passed %}     
    
        <div class="cols">      
                
            <li>            
                {{ col.col_code }} : <a href="{{ object.act_id }}/{{ col.get_col_id }}">  {{ col.get_col_name }} </a>  [ {{ col.get_col_count }} ]
            </li>
        </div>
    {% endfor %}
            
    <hr>        

    <iframe        
        width="95%"
        height="600"
        frameborder=0
        src="{% url 'Activity Map View' act_id=object.act_id %}"
        >
    </iframe>        
                             
{% endblock %}   	

<!doctype html>
 