{% extends "base_generic.html" %}

{% block content %}
  <hr />
  {% load static %} 
  <h3><img src="{% static '/image/medal.jpg' %}"  />{{col_counter_list.count}} cols franchis</h3>
  <hr />
  {% if col_counter_list %}  
<table class="sortable n-last">
  <br/>
    <thead>
    <tr>         
        <th class="indicator-left">Nom</th>
        <th class="indicator-left">Code</th>
        <th class="indicator-left">Altitude</th>     
        <th class="indicator-left">Nombre de passages</th>     
        <th class="indicator-left">Nombre de passages {{ annee }}</th>             
        <th class="indicator-left">Dernier Passage</th>     
        <th class="indicator-left">Pays</th>     
        <th class="indicator-left">Département</th>     
    </tr>  
    </thead>    
    <tbody>
                    
    {% for colc in col_counter_list %}                
    <tr>      
      <td>        
          <a href="{{ colc.get_col_id }}">{{ colc.get_col_name }}</a> 
      </td>  
      <td>
        {{ colc.col_code }}
      </td>
      <td align="center">
        {{colc.get_col_alt}}
      </td>             
      <td align="center">
        {{colc.col_count}}
      </td>
      <td align="center">
        {{colc.year_col_count}}        
      </td>      
      <td data-sort={{colc.last_passage_date|date:"ymd"}} align="center">
        <a href="/activity/{{ colc.last_act_id }}">{{colc.last_passage_date|date:"d-M-Y"}} </a>                
      </td>            
      <td align="center">
        {{colc.get_country_name}}    
      </td>
      <td align="center">        
        <a href="/cols_list/{{ colc.get_country_region_code }}">{{colc.get_region_name}} </a> 
            
      </td>
    {% endfor %}
  </tbody>
  </table> 
  {% else %}
    <p>There are no Col in the Database.</p>
  {% endif %}
{% endblock %}