<!doctype html>
<html lang="en">

<head>      
  <title>Liste des Activités</title>
  <meta name="charset" content="UTF-8" />
  <meta name="author" content="xoka" />                        
</head>

<body>

{% extends "m_base_generic.html" %}
{% block content %}
      
  {% if m_activity_list %}
  <table width="100%" class="sortable n-last">            
    
    {% for activity in m_activity_list %}      
      <tr>
        <td data-sort={{activity.act_start_date|date:"ymd"}}>
          {{activity.act_start_date|date:"d-M" }} 
        </td>  
        <td align="right">
          {{activity.get_act_dist_km|floatformat:1}} 
        </td>          
        <td style=>
          <a href="./{{activity.act_id}}" style="color: #333333;"> {{ activity.act_name|truncatechars:22 }}</a>           
        </td>                
      </tr>
    {% endfor %}
  
  </table>  
</body>  
  {% else %}
    <p>There are no Activities in the Database.</p>
  {% endif %}
{% endblock %}