<!doctype html>
<html lang="en">

<head>      
  <title>Liste des Cols franchis</title>
  <meta name="charset" content="UTF-8" />
  <meta name="author" content="xoka" />                        
</head>

<body>
  
{% extends "m_base_generic.html" %}

{% block content %}
  <hr />
  {% load static %} 
  <h3>{{col_counter_list.count}} cols franchis</h3>  
  <a href="{% url 'colsok_map' %}" class="btn btn-primary" style="margin-bottom: 10px;"><img src="{% static '/image/map.png' %}" style="height: 20px; margin-right: 5px;"/> Voir sur la carte</a>
  <hr />
  {% if col_counter_list %}  
<table class="sortable n-last">
  <br/>
    <thead>
    <tr>         
        <th class="indicator-left">Nb</th>
        <th class="indicator-left">Col</th>        
        <th class="indicator-left">Alt.</th>
        <th class="indicator-left">Pays</th>
        <th class="indicator-left">Région</th>
    </tr>  
    </thead>    
    <tbody>
                    
    {% for colc in col_counter_list %}                
    <tr>      
      <td align="center">
        {{colc.col_count}}
      </td>
      <td>        
          <a href="{{ colc.get_col_id }}" style="color: #333333;">{{ colc.get_col_name }}</a> 
      </td>  
      <td align="center">
        {{colc.get_col_alt}}
      </td>
      <td>{{colc.col_code|slice:":2"}}</td>
      <td>{{colc.get_region_name}}</td>
    </tr>              
    {% endfor %}
  </tbody>
  </table> 
  {% else %}
    <p>There is no Col in the Database.</p>
  {% endif %}
{% endblock %}

</body>
</html>