<!doctype html>
<html lang="en">
  
{% load static %}
<script src="{% static 'sortable.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/grid.css' %}">

<head>      
    <title>Dashboard</title>
    <meta name="charset" content="UTF-8" />
    <meta name="author" content="xoka" />                        
</head>

<body>

{% block content %}

<h3 >Liste des Performances
  <br>
</h3> 

  {% if perform_list %}
  <table id = "myTable" width="100%" class="sortable n-last" >  
    <thead>
      <tr>
        <th class="indicator-left">DATE <input type="text" size="10" id="myInputY" onkeyup="myFunction(0)" placeholder="Search.."></th>
        <th class="indicator-left">SEGMENT <input type="text" id="myInputN" onkeyup="myFunction(1)" placeholder="Search.."></th>
        <th class="indicator-left">LONGUEUR</th>
        <th class="indicator-left">PENTE</th>
        <th class="indicator-left">VAM</th>
        <th class="indicator-left">FC</th>       
        <th class="indicator-left">Chrono</th>                       
      </tr>    
    </thead>
    <tbody>
    {% for perform in perform_list %}                 
      <tr>
        <td data-sort={{perform.perf_date|date:"ymd"}} >                
          <a>{{perform.perf_date|date:"d M Y" }}</a>            
        </td>
        <td>
          <a>{{perform.get_segment_name }}</a>         
        </td>                  
        <td >
          {{perform.get_segment_length|floatformat:1 }}         
        </td>    
        <td >
          {{perform.get_segment_slope|floatformat:1 }}         
        </td> 
        <td >
          {{perform.perf_vam}}         
        </td> 
        <td >                   
          {{perform.perf_fc}}         
        </td>         
        <td data-sort={{perform.perf_chrono}}>                   
          {{perform.get_chrono_str}}         
        </td>                 
      </tr>         
    {% endfor %}
  </tbody>
  </table>  
  {% else %}
    <p>There are no Perf in the Database.</p>
  {% endif %}
{% endblock %}

</body>
</html>

<script>
function myFunction(col) {
  var input, filter, table, tr, td, i;
  inputY = document.getElementById("myInputY");
  inputN = document.getElementById("myInputN");
  filterY = inputY.value.toUpperCase();  
  filterN = inputN.value.toUpperCase();  
  if(col==0) {
    filter = filterY;
    inputN.value = "" ;
  }
  if(col==1) {
    filter = filterN;
    inputY.value = "" ;
  }
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[col];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>