<!doctype html>

{% extends "base_generic.html" %}
{% block content %}

<hr>        
<table>    
        <tr>                      
            {%  for oneUser  in Strava_User %}  
            <td><h3>{{ oneUser.get_strava_user_name}} </h3></td>                                                                  
            {% endfor %}                        
        </tr>                
</table>                                                                        
<hr>        

{% endblock %}      
