<script>
  function myFunction() {    
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInputCol");
    filter = input.value.toUpperCase();                    
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
  </script>

<!doctype html>
<html lang="en">

<head>      
  <title>Liste des Cols</title>
  <meta name="charset" content="UTF-8" />
  <meta name="author" content="xoka" />                        
</head>

<body>

{% extends "base_generic.html" %}

{% block content %}
  <hr />
  <h3>{{ col_list.count }} cols en base </h3>  
  <hr />
  {% load static %} 
  <a href="{% url 'index' %}"><img src="{% static '/image/map.png' %}"  /> Voir sur la carte</a>   
  {% if col_list %}
  <br/><br/>
  <input type="text" size="10" id="myInputCol" onkeyup="myFunction(0)" placeholder="Rechercher..">
  <br/><br/>
  <table id = "myTable" class="sortable n-last">
    <thead>
    <tr>
      <th class="indicator-left">Nom</th>
      <th class="indicator-left">Altitude</th>
      <th class="indicator-left">Code 100 cols</th>
      <th class="indicator-left">Route/Piste/Sentier</th>
    </tr>  
    </thead>    
    <tbody>
    {% for col in col_list %}
      <tr>
        <td>
          <a href="{{ col.col_id }}">{{ col.col_name }} </a> 
        </td>  
        <td align="right" data-sort={{col.col_alt}}>{{col.col_alt}} m  </td>
        <td align='center'>{{col.col_code}}</td>
        <td align='center'>{{col.col_type}}</td>
      </tr>  
    {% endfor %}
  </tbody>
  </table>  
  {% else %}
    <p>There are no Col in the Database.</p>
  {% endif %}
  {% endblock %}

</body>
</html>